<h1>餐廳後台</h1>

<div class="mt-1 mb-2" style="font-size: 1.3em;">
  <a href="/admin/restaurants">Restaurants</a> |
  <a href='/admin/categories'>Categories</a> |
  <a href="/admin/users">Users</a>
</div>

<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
  {{#if category}}
  <div class="alert alert-warning ms-2 me-2" role="alert">
    <p style="font-size: 1.2em;">請輸入更新名稱</p>
    <form action="/admin/categories/{{category.id}}?_method=PUT" method="POST">
      <input type="text" placeholder="name" name="name" value="{{category.name}}">
      <button type="submit">Update</button>
      <a href="/admin/categories">or Create New</a>
    </form>
  </div>
  {{else}}
  <div>
    <p style="font-size: 1.2em; color:black">請輸入餐廳名稱</p>
    <form action="/admin/categories" method="POST">
      <input type="text" placeholder="name" name="name">
      <button type="submit">Submit</button>
    </form>
  </div>
  {{/if}}
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/categories/{{this.id}}">
            Edit
          </a>
        </button>
        <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<br />
<br />